.main-header-block {
	padding: 65px 0 0 0;
	background: #000000;
	height: 100%;
	.logo {
		display: flex;
		justify-content: center;
		img {
			max-width: 73px;
		}
	}
	.header-menu {
		padding-right: 0;
		height: calc(100% - 92px);
		.navbar {
			/*display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;*/
			height: 100%;
		}
		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column!important;
			justify-content: space-between;
			padding-left: 0;
			height: 100%;
			width: 100%;
			li {
				transform: rotate(-90deg);
				cursor: pointer;
				a {
					font-family: $raleway-font;
					color: #ffffff;
					font-size: 16px;
					cursor: pointer;
				}
				&:first-child {
					margin-top: 36px;
				}
				&:last-child {
					transform: rotate(0deg);
				}
			}
		}
	}
	.navbar {
		padding: 0;
	}
	.navbar-expand-lg .navbar-collapse {
		height: 100%;
	}
}

