.section-3 {
	margin-top: 100px;
	position: relative;
	z-index: 5;
	overflow: hidden;
	.gallery-title {
		h2 {
			text-align: center;
			margin-bottom: 50px;
			span {
				display: inline-block;
				position: relative;
				padding-left: 5px;
				&:before {
					content: '';
					height: 1px;
					background: url("../img/big-line.png");
					width: 100vw;
					position: absolute;
					top: 50%;
					right: 100%;
				}
				&:after {
					content: '';
					height: 1px;
					background: url("../img/big-line.png");
					width: 100vw;
					position: absolute;
					top: 50%;
					left: 100%;
				}
			}
		}
	}
	.slider {
		padding: 0;
		display: flex;
		margin-top: 25px;
		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 10px;
			overflow: hidden;
			padding: 40px 56px;
			border: 1px solid #00a87f;
			width: 530px;
			p {
				margin-top: 30px;
				text-align: center;
			}
		}
		.item-block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
	.mCSB_container {
		display: -webkit-box;
		align-items: center;
		justify-content: flex-start;
		padding: 0 0 40px 0;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		height: 11px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background: #00a87f;
		border-radius: 25px;
		height: 1px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #00a87f;
		border-radius: 25px;
		height: 5px;
	}
}
